<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAet2Ngsgd7GeQjDI0LpvVEt0ssLHTIwMA</string>
	<key>GCM_SENDER_ID</key>
	<string>139944539012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sasat.lacakapps</string>
	<key>PROJECT_ID</key>
	<string>find-my-partner-5616f</string>
	<key>STORAGE_BUCKET</key>
	<string>find-my-partner-5616f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139944539012:ios:b11fc451a8390091fbe3d1</string>
	<key>DATABASE_URL</key>
	<string>https://find-my-partner-5616f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>